<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
    {% block styles %}<link rel="stylesheet" href="{{ full_url_for('showHome') }}assets/css/base.css">{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        <nav id="navbar-menu">
          <a id="navbar-home-link" class="navbar-item" href="{{ full_url_for('showHome') }}">Home</a>
          {% if userStatus['logged'] %}
            <a id="navbar-game-link" class="navbar-item" href="{{ full_url_for('newGame') }}">Game</a>
            <a id="navbar-teams-link" class="navbar-item">Teams</a>
            <a id="navbar-profile-link" class="navbar-item">Profile</a>
          {% endif %}
          <a id="navbar-api-link" class="navbar-item">Riddles</a>
        </nav>
        {% if userStatus['logged'] %}
        {% else %}
          <div id="account-buttons">
            <button onclick="location.href='{{ full_url_for('signUp') }}'" class="link-button" id="register-button">Register</button>
            <button onclick="location.href='{{ full_url_for('signIn') }}'" class="primary-button">Login</button>
          </div>
        {% endif %}
      {% endblock %}
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>{% block footer %}<p class="footer-text">Copyright – LaSalle 2022-2023</p>{% endblock %}</footer>
  </body>
</html>
