{% extends "base.twig" %}

{% block styles %}<link rel="stylesheet" href="{{ full_url_for('showHome') }}assets/css/home.css">{% endblock %}

{% block header %}

    <!-- TODO: Put the header in the base.twig so that when we extend from it we already have the header-->

    <nav id="navbar-menu">
        <a id="navbar-home-link" class="navbar-item" href="{{ full_url_for('showHome') }}">Home</a>
        <a id="navbar-game-link" class="navbar-item" href="{{ full_url_for('newGame') }}">Game</a>
        <a id="navbar-teams-link" class="navbar-item" href="{{ full_url_for('joinTeam') }}">Teams</a>
        <a id="navbar-teams-link" class="navbar-item" href="{{ full_url_for('teamStats') }}">Team stats</a>
        <a id="navbar-profile-link" class="navbar-item">Profile</a>
        <a id="navbar-api-link">Riddles</a>
    </nav>
    <div id="account-buttons">
        <button onclick="location.href='{{ full_url_for('signUp') }}'" class="link-button" id="register-button">Register</button>
        <button onclick="location.href='{{ full_url_for('signIn') }}'" class="primary-button">Login</button>
        <button onclick="location.href='{{ full_url_for('logOut') }}'" class="primary-button">Logout</button>
    </div>
{% endblock %}


{% block content %}
    <h1 class="error-message">{{ error }}</h1>
    <h2>Access your team's stats</h2>

    <p>Name of the team: {{ teamInfo.name }}</p>
    <p>Current number of team members: {{ teamInfo.numMembers }}</p>
    <p>List of team members:</p>
    <ul>
        {% for teamMember in teamMembers %}
            <li>{{ teamMember }}</li>
        {% endfor %}
    </ul>
    <p>Total number of points from the last finished game: </p>


{% endblock %}