{% extends "base.twig" %}

{% block title %}Profile | PuzzleMania{% endblock %}

{% block styles %}<link rel="stylesheet" href="{{ full_url_for('showHome') }}assets/css/profile.css">{% endblock %}

{% block content %}
    <h1 data-cy="profile">Here the user can see the profile information.</h1>

    <li class="features-list-item">
        <form action="{{ url_for('upload') }}"
              enctype="multipart/form-data"
              method="POST">


            <input type="text" class="form-input" disabled value="{{ email }}"><br><br>
            <img src="{{ profile_picture }}" alt="Profile Picture" width="200" height="200">


            <input type="file" name="files" readonly    >
            <input type="submit" class="primary-button" value="Upload">

            {% if errors is defined %}
                <ol>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </form>
    </li>
{% endblock %}